<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <appSettings>
      <add key="ConnMI1.server" value="managedinstance.public.xxxxxxxxxxx.database.windows.net,3342"/>
      <add key="ConnMI1.database" value="databasename"/>
      <add key="ConnMI1.username" value="username"/>
      <add key="ConnMI1.pass" value="password"/>
    </appSettings>

</configuration>
